@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-image {
  background-image: url("https://cdn.openart.ai/stable_diffusion/132ce2ff3bb962fa647505b1a0c52dd5cc996fe7_2000x2000.webp");
}
